<% @discipline ||= SelecaoAdmin::Discipline.new %>

<%- if @discipline.new_record? %>
  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <%- model_class = SelecaoAdmin::Discipline -%>
	  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "New #{model_class.model_name.human}") %></h1>		
  </div>
<%- else %>			
	<div class="modal-header">
	  <button class="close" data-dismiss="modal">x</button>
	  <%- model_class = SelecaoAdmin::Discipline -%>
	  <h3><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
	                                   :default => "Edit #{model_class.model_name.human}") %></h3>
	</div>		
<% end %>


<%= form_for @discipline, :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
	<div class="modal-body">
	  <div class="control-group">
	    <%= f.label :name, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :name, :class => 'text_field' %>
	    </div>
	  </div>
	</div>
	
	
  <div class="modal-footer">
    <%= f.submit nil, :class => 'btn btn-primary', :id => "fat-btn", :"data-loading-text" => "#{t('selecao_admin.general.saving_tag')}"  %>
  </div>
<% end %>
