<%- model_class = SelecaoAdmin::StudentQuota -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="form-actions">
	<%= link_to 'Criar', "#", :class => "btn btn-primary", :id => "new_student_quota_modal_button"  %>
	<%= link_to back_icon,
	            SelecaoAdmin::path, :class => 'btn'  %>

	<!-- <%= link_to [[I18n.t('selecao_admin.links.student_quota.reserve_report'), I18n.t('selecao_admin.links.student_quota.number_of_subscribers')]], student_quotas_path(:format => "pdf"), :class => "btn btn pull-right"
	%> -->
	
	<%= link_to t("activerecord.models.selecao_admin/report").pluralize, "#", :id => 'student_quota_reports_button', :class => "btn btn-inverse pull-right"%>
</div>
 

<table class="table table-striped" id="studentQuotaAjaxTable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th width="79%"><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:abbreviation) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @student_quotas.each do |student_quota| %>
      <tr id="tr_<%=student_quota.id%>">
        <td><%= link_to student_quota.id, student_quota_path(student_quota) %></td>
        <td><%= link_to student_quota.title, student_quota_path(student_quota) %></td>
        <td><%= student_quota.abbreviation %></td>
        <td>
          <%= link_to edit_icon,
                      edit_student_quota_path(student_quota), :class => 'btn btn-mini', :remote => true %>
					<%= link_to_if(any_restrict_dependecy?(student_quota), destroy_icon, "#", :class => "btn btn-mini btn-danger", :rel => "popover", :"data-content" => t("validation.restrict_validation", :dependecie_models => any_restrict_dependecy?(student_quota)), :"data-original-title" => t("selecao_admin.general.atention")) {%>					
	          <%= link_to destroy_icon,
	                      student_quota_path(student_quota),
	                      :method => :delete,
	                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	                      :class => 'btn btn-mini btn-danger',
												:remote => true %>
					 <%}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="new_student_quota_modal" class="modal hide fade" style="padding: 20px;">
  <%= render :partial => 'form' %>
</div>

<div id="student_quota_reports_modal" class="modal hide fade" style="padding: 20px;"> 
	<%= render :partial => 'student_quota_reports' %>
</div>


