<div class="span12">
	<%- model_class = SelecaoAdmin::Enrolled  -%>
	<div class="page-header">
	  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
	</div>

	<div class="form-actions">
		<%= link_to t('.new', :default => t("helpers.links.new")),
		            new_enrolled_path,
		            :class => 'btn btn-primary' %>
		<%= link_to back_icon,
		            SelecaoAdmin::path, :class => 'btn'  %>
		<%= link_to t("activerecord.models.selecao_admin/report").pluralize, "#", :id => 'enrolled_reports_button', :class => "btn btn-inverse pull-right"%>            
		            
	</div>
	
	<table class="table table-striped" id="enrolleds">
		<thead>
	    <tr>
	      <th width="10%"><%= model_class.human_attribute_name(:id) %></th>
	      <th><%= User.human_attribute_name(:name) %></th>
	      <th><%= User.human_attribute_name(:login) %></th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
</div>

<div id="enrolled_reports_modal" class="modal hide fade" style="padding: 20px;">
    <%= render :partial => 'enrolled_reports' %>
</div>

