<tr id="tr_<%=address.id%>">
  <td><%=c address.address_type.title %></td>
  <td><%=c address.street %></td>
  <td><%=c address.number %></td>
  <td><%=c address.complement %></td>
  <td><%=c address.neighborhood %></td>
  <td><%=c address.city.name %></td>
  <td><%=c address.city.state.name %></td>
  <td><%=c address.postal_code %></td>
  <td>
    <%= link_to edit_icon,
                edit_address_path(address), :class => 'btn btn-mini', :remote => true %>
    <%= link_to destroy_icon,
                address_path(address),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger',
								:remote => true %>
  </td>
</tr>
