<div id="editAddressModal" class="modal hide fade">
	<%- model_class = SelecaoAdmin::Address -%>
	<div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h2><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
	                                   :default => "Edit #{model_class.model_name.human}") %></h2>
  </div>
	<br/>

	<%= form_for @address, :remote => true, :html => { :class => 'form-horizontal' } do |f| %>

		<div class="control-group">
	  	<%= f.label :address_type_id, :class => 'control-label' %>
	  	<div class="controls">
	    	<%= f.collection_select :address_type_id, SelecaoAdmin::AddressType.all, :id, :title, :prompt => true %>
	  	</div>
		</div>

	  <div class="control-group">
	    <%= f.label :street, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :street, :class => 'text_field' %>
	    </div>
	  </div>

	  <div class="control-group">
	    <%= f.label :number, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :number, :class => 'text_field' %>
	    </div>
	  </div>

	  <div class="control-group">
	    <%= f.label :neighborhood, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :neighborhood, :class => 'text_field' %>
	    </div>
	  </div>

	  <div class="control-group">
	    <%= f.label :complement, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :complement, :class => 'text_field' %>
	    </div>
	  </div>

		<div id="city">
			<div class="control-group">
			  <%= f.label :city_id, :class => 'control-label' %>
			  <div class="controls">
			    <%= f.hidden_field :city_id, {:class => 'city-select2', :style => 'width: 370px'} %>						
					<script type="text/javascript" charset="utf-8">
						  $(".city-select2").select2({
					      ajax: {
					        url: "/selecao-admin/cities.json",
					        datatype: "json",
					        quietMillis: 100,
					        data: function (term, page) { return { term:term, page:page }; },
					        results: function (data, page) { return data; }
					      }
				      });
					</script>
					</script>
			  </div>
			</div>	
		</div>
		
		<div class="control-group">
	    <%= f.label :reference_point, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :reference_point, :class => 'text_field' %>
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <%= f.label :postal_code, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :postal_code, :class => 'text_field' %>
	    </div>
	  </div>


	  <div class="form-actions">
	    <%= f.submit nil, :class => 'btn btn-primary ', :data => { :dismiss => "modal"} %>
	  </div>
	<% end %>


</div>