<%- model_class = SelecaoAdmin::Campus -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %> <%=@campus.name%></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @campus.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:addresses) %>:</strong></dt>
  <dd><% @campus.addresses.each {|c|%><%=c.short_address%><br><%}%></dd>
  <dt><strong><%= model_class.human_attribute_name(:phones) %>:</strong></dt>
  <dd><% @campus.phones.each {|c|%><%=c.short_phone%><br><%}%></dd>
</dl>

<div class="form-actions">
  <%= link_to back_icon,
              campi_path, :class => 'btn'  %>
  <%= link_to edit_icon,
              edit_campus_path(@campus), :class => 'btn' %>
  <%= link_to destroy_icon,
              campus_path(@campus),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
