<%- model_class = SelecaoAdmin::ScoreEvaluation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="form-actions">
	<%= link_to 'Criar', "#", :class => "btn btn-primary", :id => 'new_score_evaluation_modal_button' %>
	<%= link_to back_icon,
	            SelecaoAdmin::path, :class => 'btn'  %>
</div>

<table class="table table-striped" id="scoreEvaluationAjaxTable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @score_evaluations.each do |score_evaluation| %>
      <tr id="tr_<%=score_evaluation.id%>">
        <td><%= link_to score_evaluation.id, score_evaluation_path(score_evaluation) %></td>
        <td><%= link_to score_evaluation.title, score_evaluation_path(score_evaluation)  %></td>
        <td>
          <%= link_to edit_icon,
                      edit_score_evaluation_path(score_evaluation), :class => 'btn btn-mini', :remote => true %>

					<%= link_to_if(any_restrict_dependecy?(score_evaluation), destroy_icon, "#", :class => "btn btn-mini btn-danger", :rel => "popover", :"data-content" => t("validation.restrict_validation", :dependecie_models => any_restrict_dependecy?(score_evaluation)), :"data-original-title" => t("selecao_admin.general.atention")) {%>					
	          <%= link_to destroy_icon,
	                      score_evaluation_path(score_evaluation),
	                      :method => :delete,
	                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	                      :class => 'btn btn-mini btn-danger',
	 											:remote => true %>
					<%}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="new_score_evaluation_modal" class="modal hide fade" style="padding: 20px; max-height: 500px;">
  <%= render :partial => 'form' %>	
</div>




 	