<%- model_class = SelecaoAdmin::ScoreEvaluation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @score_evaluation.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:disciplines) %>:</strong></dt>
  <dd><% @score_evaluation.disciplines.each {|d|%><%=d.name%><br/><%}%></dd>
</dl>

<div class="form-actions">
  <%= link_to back_icon,
              score_evaluations_path, :class => 'btn'  %>
  <%= link_to edit_icon,
              edit_score_evaluation_path(@score_evaluation), :class => 'btn' %>
  <%= link_to destroy_icon,
              score_evaluation_path(@score_evaluation),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>


