<!--criacao do novo objecto @announcement caso a partial esteja sendo chamada de uma view-->
<% @announcement ||= SelecaoAdmin::Announcement.new %>

<%- if @announcement.new_record? %>
  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <%- model_class = SelecaoAdmin::Announcement -%>
	  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "New #{model_class.model_name.human}") %></h1>		
  </div>
<%- else %>
	<div class="modal-header">
	  <button class="close" data-dismiss="modal">x</button>
	  <%- model_class = SelecaoAdmin::Announcement -%>
	  <h3><%=@announcement.title%> - <%=l @announcement.publication_date%></h3>		
	</div>
<% end %>

<%= form_for @announcement, :remote => true, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
	<div class="modal-body">
	  <div class="control-group">
	    <%= f.label :title, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :title, :class => 'text_field' %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <%= f.label :publication_date, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.date_select :publication_date, :class => 'date_select' %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <%= f.label :announcement_file, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.file_field :announcement_file %>
	    </div>
	  </div>
	</div>
	
	<div class="modal-footer">			
	    <%= f.submit nil, :class => 'btn btn-primary' %>
	</div>
<% end %>


