<%- model_class = SelecaoAdmin::Announcement -%>
<div class="page-header">
  <h1><%= @announcement.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd id="announcement_title"><%= @announcement.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:publication_date) %>:</strong></dt>
  <dd id="publication_date"><%=l @announcement.publication_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:announcement_file) %>:</strong></dt>
  <dd><%= link_to @announcement.announcement_file_file_name, @announcement.announcement_file.url %></dd>
</dl>

<div class="form-actions">
  <%= link_to back_icon,
              announcements_path, :class => 'btn'  %>
  <%= link_to edit_icon,
              edit_announcement_path(@announcement), :class => 'btn', :remote => true %>
  <%= link_to destroy_icon,
              announcement_path(@announcement),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>

<%= render :partial => 'selecao_admin/sidebars/announcement_enrollment' %>
<hr>


