<h1>Listing course_prerequisites</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_prerequisites.each do |course_prerequisite| %>
  <tr>
    <td><%= course_prerequisite.course %></td>
    <td><%= course_prerequisite.description %></td>
    <td><%= link_to 'Show', course_prerequisite %></td>
    <td><%= link_to 'Edit', edit_course_prerequisite_path(course_prerequisite) %></td>
    <td><%= link_to 'Destroy', course_prerequisite, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course prerequisite', new_course_prerequisite_path %>
