<%- model_class = SelecaoAdmin::Publication -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="form-actions">
	<%= link_to t('.new', :default => t("helpers.links.new")),
	            new_publication_path,
	            :class => 'btn btn-primary' %>
	<%= link_to back_icon,
	            SelecaoAdmin::path, :class => 'btn'  %>
</div>

<table class="table table-striped" id="publicationAjaxTable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:category_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @publications.each do |publication| %>
      <tr id="tr_<%=publication.id%>">
        <td><%= link_to publication.id, publication_path(publication) %></td>
        <td><%= link_to publication.title, publication_path(publication)  %></td>
        <td><%= publication.publication_category.title %></td>
        <td><%=l publication.created_at %></td>
        <td>
          <%= link_to edit_icon,
                      edit_publication_path(publication), :class => 'btn btn-mini' %>
          <%= link_to destroy_icon,
                      publication_path(publication),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>