<p id="notice"><%= notice %></p>

<p>
  <b>Survey question option:</b>
  <%= @enrolled_survey_answer.survey_question_option %>
</p>

<p>
  <b>Enrolled:</b>
  <%= @enrolled_survey_answer.enrolled %>
</p>

<p>
  <b>Other option:</b>
  <%= @enrolled_survey_answer.other_option %>
</p>

<p>
  <b>Enrollment:</b>
  <%= @enrolled_survey_answer.enrollment %>
</p>


<%= link_to 'Edit', edit_enrolled_survey_answer_path(@enrolled_survey_answer) %> |
<%= link_to 'Back', enrolled_survey_answers_path %>
