<p id="notice"><%= notice %></p>

<p>
  <b>Survey:</b>
  <%= @survey_question.survey %>
</p>

<p>
  <b>Question:</b>
  <%= @survey_question.question %>
</p>

<p>
  <b>Number of options:</b>
  <%= @survey_question.number_of_options %>
</p>


<%= link_to 'Edit', edit_survey_question_path(@survey_question) %> |
<%= link_to 'Back', survey_questions_path %>
