<fieldset id="" class="">
	<div class="control-group">
    <%= f.label :code_sequence, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code_sequence, :class => 'text_field span1' %>
    </div>
  </div>	
	<div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'text_field span6' %>
    </div>
  </div>	
	<%= f.hidden_field :_destroy %>
  <%= link_to t("selecao_admin.general.remove_online_lecture_code"), '#', :class => "remove_fields pull-right btn-mini" %>    
</fieldset><br/>
