<%- model_class = SelecaoAdmin::Lecture -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="form-actions">
	<%= link_to t('.new', :default => t("helpers.links.new")),
	            new_lecture_path,
	            :class => 'btn btn-primary' %>
	<%= link_to t('.back', :default => t("helpers.links.back")),
	            SelecaoAdmin::path, :class => 'btn'  %>
</div>


<table class="table table-striped" id="onlineLectureAjaxTable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:announcement) %></th>
      <th><%= model_class.human_attribute_name(:campus) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lectures.each do |lecture| %>
      <tr id="tr_<%=lecture.id%>">
        <td><%= link_to lecture.id, lecture_path(lecture) %></td>
        <td><%= link_to lecture.title, lecture_path(lecture) %></td>
        <td><%= link_to lecture.announcement.title, announcement_path(lecture.announcement) %></td>
        <td><%= link_to lecture.campus.name, campus_path(lecture.campus) %></td>
        <td><%=l lecture.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lecture_path(lecture), :class => 'btn btn-mini' %>
	          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	                      lecture_path(lecture),
	                      :method => :delete,
	                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	                      :class => 'btn btn-mini btn-danger',
	 											:remote => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
