<%- model_class = SelecaoAdmin::Lecture -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
	<dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @lecture.title %> (<%=@lecture.lecture_type.title%>)</dd>
  
	<% if @lecture.lecture_type_id == 1 %>
		<dt><strong><%= model_class.human_attribute_name(:announcement) %>:</strong></dt>
  	<dd><ul><% @lecture.announcements.each {|announcement|%><li><%= announcement.title %></li><%}%></ul></dd>
	  <dt><strong><%= model_class.human_attribute_name(:campus) %>:</strong></dt>
	  <dd><%= @lecture.campus.name %></dd>
		<dt><strong><%= model_class.human_attribute_name(:lecture_date) %>:</strong></dt>
	  <dd><%= @lecture.lecture_date %></dd>
	  <dt><strong><%= model_class.human_attribute_name(:lecture_time) %>:</strong></dt>
	  <dd><%= @lecture.lecture_time %></dd>
		<dt><strong><%= model_class.human_attribute_name(:max_capacity) %>:</strong></dt>
	  <dd><%= @lecture.max_capacity %></dd>
	  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
	  <dd><%= @lecture.location %></dd>
	<% elsif @lecture.lecture_type_id == 2 %>
		<dt><strong><%= model_class.human_attribute_name(:enrollment) %>:</strong></dt>
	  <dd><%= @lecture.enrollment.short_title %></dd>
		<dt><strong><%= model_class.human_attribute_name(:video_url) %>:</strong></dt>
	  <dd><%= @lecture.video_url %></dd>
	  <dt><strong><%= model_class.human_attribute_name(:online_lecture_codes) %>:</strong></dt>
	  <dd><ul><%@lecture.online_lecture_codes.each{|code|%><li><%=code.code_sequence%> - <%=code.code%></li><%}%></ul></dd>  
	<% end %>
</dl>

<div class="form-actions">
  <%= link_to back_icon,
              lectures_path, :class => 'btn'  %>
  <%= link_to edit_icon,
              edit_lecture_path(@lecture), :class => 'btn' %>
  <%= link_to destroy_icon,
              lecture_path(@lecture),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
<hr>

<% if @lecture.lecture_presences.any? %>
	<%= render 'lecture_presences_show', :locals => {:object => @lecture}%>
<% end %>