<%= form_for(@entry_mail) do |f| %>
  <% if @entry_mail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry_mail.errors.count, "error") %> prohibited this entry_mail from being saved:</h2>

      <ul>
      <% @entry_mail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender_user_id %><br />
    <%= f.number_field :sender_user_id %>
  </div>
  <div class="field">
    <%= f.label :recipient_user_id %><br />
    <%= f.number_field :recipient_user_id %>
  </div>
  <div class="field">
    <%= f.label :entry_mail_type %><br />
    <%= f.text_field :entry_mail_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
