<p id="notice"><%= notice %></p>

<p>
  <b>Sender user:</b>
  <%= @entry_mail.sender_user_id %>
</p>

<p>
  <b>Recipient user:</b>
  <%= @entry_mail.recipient_user_id %>
</p>

<p>
  <b>Entry mail type:</b>
  <%= @entry_mail.entry_mail_type %>
</p>


<%= link_to 'Edit', edit_entry_mail_path(@entry_mail) %> |
<%= link_to 'Back', entry_mails_path %>
